services:
  springboot:
    image: runddy/runddy_dev:latest
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - my_network

  redis:
    image: redis
    container_name: redis
    command: [ "redis-server", "--port", "6379" ]
    ports:
      - 6379:6379
    networks:
      - my_network

networks:
  my_network:
    driver: bridge