name: CICD
#workflow를 재실행하는 트리거
on:
  #develop branch에 push가 발생하면 재실행
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ] # dev로 들어오는 PR에서 CI 실행

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 작업들
jobs:
  #작업1 : 테스트코드 검사

  # 작업2 : 빌드
  build:
    name: Build & Test (develop)
    runs-on: ubuntu-latest  
    defaults:
      run:
        working-directory: runmap

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1) 앱 빌드(JAR)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Build & Test
        run: |
          chmod +x ./gradlew
          # ./gradlew clean build --no-daemon #테스트 포함
          ./gradlew clean bootJar --no-daemon #테스트를 건너뛰고 실행 JAR 만듦

      - name: Upload JAR
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: |
            build/libs/*.jar
  #작업3: 배포 (ec2)
  deploy:
    needs: build
    runs-on: [self-hosted]
    steps:
      - name: Login to Github container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          usernmae: ${{github.actor}}
          password: ${{secrets.GHCR_TOKEN}}

      - name: Verify Docker Login
        run: |
           echo ${{secrets.GHCR_TOKEN}} | sudo docker login ghcr.io -u ${{github.actor}} --password-stdin

      - name: Docker run
        run: |
          sudo docker stop temp-container-name || true
          sudo docker rm temp-container-name || true
          sudo docker rmi ghcr.io/sangddong/my-image:latest || true
          sudo docker run -d -p 80:3001 \
          --name temp-container-name \
          --restart always \
          -e PORT=${{ secrets.PORT }} \
          -e DATABASE_URL=${{ secrets.DATABASE_URL }} \
          ghcr.io/sangddong/my-image:lates


           
